BCRYPT_SALT_ROUND = 10
JWT_SECRET = "elephant"


DATABASE_URL="postgresql://chicken:password@localhost:5432/chicken?schema=public"

POSTGRES_USER=chicken
POSTGRES_PASSWORD=password
POSTGRES_DB=chicken